body {
    padding: 0;
    text-align: center;
  }

h1 {
  font-family: myTitleFont;
  font-size: 80px;
}

.game-intro {
    margin-top: 150px;
  }

.game-intro p {
  font-size: 20px;
}

.list {
  list-style-type: none;
  font-size: 20px;
  text-align: center;
}

.icon {
  width: 2.5em;
}

.arrow-keys {
  width: 8%;
}

#start-btn {
  height: 60px;
  width: 150px;
  font-size: 30px;
  font-family: myTitleFont;
}

#timer {
  font-family: myTitleFont; 
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.over {
  font-family: gameOverFont;
}

canvas {
  background-image: url("../img/lab.jpg");
}